.container {
  padding: 20px 0 20px 0;
  max-width: 1240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  row-gap: 20px;

  table {

    img {
      width: 100px;
    }
  }


}


