<app-books-not-found [visible]="!books || books.length <= 0"
                     notFoundMessage="Корзина пустая!"
                     resetLinkText="Вернуться на страницу книги"
>
</app-books-not-found>

<div *ngIf="books && books.length >0" class="container">

  <ul>
    <li *ngFor="let book of books">
      <div>
        <img [src]="book.image" [alt]="book.title">
      </div>
      <div>
          {{book.title}}
      </div>
      <div>
        {{book.price | currency}}
      </div>
      <div>
        <button mat-raised-button color="warn" (click)="removeBook(book)">
          Удалить товар
        </button>
      </div>
    </li>
  </ul>

  <div class="checkout">
    <div>
      <div class="books-count">{{books.length}}</div>
      <div class="total-price">{{totalCountPrice | currency}}</div>
    </div>
  </div>

</div>

