
  <div class="container">
    <div class="book-item" *ngIf="book.title; else loading">
      <div class="book-item__image">
        <img src="{{book.image}}" alt="book">
      </div>
      <h2 class="book-item__title">{{book.title}}</h2>
      <div class="book-item__text">{{book.subtitle}}</div>
      <div class="book-item__button">
        <button routerLink="/books">На страницу Постов</button>
      </div>
      <div class="book-item__button">
        <button class="blue" (click)="addToCart()">Добавить в корзину</button>
<!--        <button class="blue" *ngIf="isInCart" (click)="removeFromCart()">Удалить из корзины</button>-->
      </div>
    </div>
  </div>
  <ng-template #loading>
    <div id="loader"></div>
  </ng-template>

