<div class="container">
  <div class="error text-center" *ngIf="error">
    {{error}}
  </div>

  <ng-container *ngIf="!error">
    <div *ngIf="isLoading" id="loader"></div>

    <ng-container *ngIf="!isLoading">
      <div class="books-head">
        <div class="books-head-filters">
          <app-filter class="books-filter"
                      (onFilterBooks)="filterBooks($event)"
                      (onCleanInput)="cleanInput()"
                      [searchString]="searchString"
          >
          </app-filter>
        </div>

      </div>

      <div class="filter-error" *ngIf="searchString.length > 0 && books.length === 0; else tableBooks">
        К сожалению, по запросу "{{searchString}}" ничего не найдено.
      </div>

      <ng-template #tableBooks>
        <table matSort (matSortChange)="sortData($event)" class="table" >
          <thead>
          <tr>
            <th>#</th>
            <th>Картинка</th>
            <th mat-sort-header="title">Название</th>
            <th mat-sort-header="price">Цена</th>
            <th>Описание</th>
            <th>Купить</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let book of books; let i = index">
            <td>{{i + 1}}</td>
            <td><img class="table-image" src="{{book.image}}" alt="book"></td>
            <td><a [routerLink]="['/book', book.id]" [state]="book">{{book.title | orderBy: ['amount', 'title']}}</a></td>
            <td class="table-price">{{book.price | currency}}</td>
            <td>{{book.subtitle}}</td>
            <td>
              <button class="recycle-btn button" *ngIf="!book.count" (click)="addToCart(book)">Купить</button>
              <button *ngIf="book.count" class="recycle-btn-delete button" (click)="removeBook(book)">Удалить</button>
            </td>
          </tr>
          </tbody>
        </table>
      </ng-template>
    </ng-container>
  </ng-container>
</div>
